@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: Montserrat;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.main-header{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-child{
    width: 1050px;
}

.header-1{
    height: 1132px;
    background-color: #FFDCD1;
}

.header-1 .child1{
    height: 1132px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}

.header-1 .child1 nav{
    width: 100%;
    height: 91px;
    display: flex;
    align-items: center;
}

.header-1 .child1 nav .brand-name{
    width: 187px;
    height: 58px;
    
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left ;
    display: flex;
    align-items: center;
    color: #252B42;
    margin-top: 10px;
    
}

.header-1 .child1 nav .navbar{
    width: 275px;
    height: 58px;
    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 60px;
}

.header-1 .child1 nav .navbar a{ 
    
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-decoration: none;
    color: #737373;
}

.header-1 .child1 nav .nav-contact{
    width: 300px;
    height: 52px;
    margin-left: 230px;
    display: flex;
    align-items: center;
    
}

.header-1 .child1 nav .nav-contact .login{
    
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: right;
    color: #23A6F0;
    border: none;
    background: transparent;
    
}

.header-1 .child1 nav .nav-contact .join{
    width: 137px;
    height: 52px;
    margin-left: 50px;
}

.header-1 .child1 nav .nav-contact .join img{
    margin-left: 15px;
}

.header-1 .child1 .info-desk{
    position: relative;
    width: 686px;
    height: 496px;
    
    
}

.header-1 .child1 .info-desk h3{
    position: relative;
    margin-top: 30px;
    
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #23A6F0;
    
}

.header-1 .child1 .info-desk h1{
    position: relative;
    margin-top: 30px;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #252B42;
}

.header-1 .child1 .info-desk h2{
    position: relative;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;
}

.header-1 .child1 .info-desk .btn-group{
    position: relative;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-1 .child1 .card-desk{
    width: 1046px;
    height: 292px;
    display: flex;
    gap: 30px;
}


.header-1 .child1 .info-desk .btn-group button{
    padding: 15px 40px;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    
}

.header-1 .child1 .card-desk .card{
    width: 328px;
    height: 292px;
    padding: 30px;
    gap: 15px;
}

.header-1 .child1 .card-desk .card .card-icon{
    width: 70px;
    height: 76px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-1 .child1 .card-desk .card .smile{
    background: #B2E3FF;
}

.header-1 .child1 .card-desk .card .ticket{
    background: #B9EAA8;
}

.header-1 .child1 .card-desk .card .box{
    background: #fff;
}

.header-1 .child1 .card-desk .card h3{
    
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;

}


.header-1 .child1 .card-desk .card .chiziq{
    width: 50px;
    height: 2px;


}

.header-1 .child1 .card-desk .card p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

.header-1 .child1 .card-desk .primaryy{
    background-color: #23A6F0;
}
.header-1 .child1 .card-desk .primaryy .chizic-primary{
    background-color: #fff;
}

.header-1 .child1 .card-desk .primaryy h3{
    color: white;
}

.header-1 .child1 .card-desk .primaryy p{
    color: white;
}






.header-2{
    height: 715px;
    background-color: #fff;
}

.header-2 .child2{
    height: 715px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-2 .child2 .desk-for-image{
    width: 508px;
    height: 359px;
    position: relative;
}

.header-2 .child2 .desk-for-image .girl{
    position: relative;
    width: 332.73px;
    height: 342.74px;
    left: 125.46px;
    z-index: 1;

}

.header-2 .child2 .desk-for-image .diagramm{
    width: 158px;
    height: 158px;
    top: 14px;
    left: 0.5px;
    position: absolute;
    z-index: 2;
}


.header-2 .child2 .desk-for-image .wether{
    width: 362px;
    height: 110px;
    top: 285px;
    left: 0.5px;
    position: absolute;
    z-index: 2;
}


.header-2 .child2 .desk-for-image .pinkbox{
    width: 33.77px;
    height: 57.54px;
    top: 285.2px;
    left: 465.69px;
    position: absolute;
}



.header-2 .child2 .desk-for-info{
    width: 508px;
    height: 359px;
    display: flex;
    align-items: center;
    justify-content: end;
}


.header-2 .child2 .desk-for-info .image-information{
    width: 381px;
    height: 296px;
    gap: 35px;
}

.header-2 .child2 .desk-for-info .image-information .bar-line{
    width: 94px;
    height: 7px;


}
.header-2 .child2 .desk-for-info .image-information .h1{
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}
.header-2 .child2 .desk-for-info .image-information .p{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}

.header-2 .child2 .desk-for-info .image-information button{
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #23A6F0;
    
}


.header-3{
    height: 1128px;

}

.header-3 .child3{
    height: 1128px;
}

.header-3 .child3 .title-info{
    width: 100%;
    height: 134px;
    margin-top: 100px;

}
.header-3 .child3 .title-info h2{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}

.header-3 .child3 .title-info h1{
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}

.header-3 .child3 .title-info p{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}

.header-3 .child3 .carousel-cards{
    width: 100%;
    height: 658px;
    display: flex;
    align-items: start;
    gap: 30px;
    margin-top: 100px;
}

.header-3 .child3 .carousel-cards .card{
    width: 238px;
    height: 658px;
}

.header-3 .child3 .carousel-cards .card .card-image{
    width: 238px;
    height: 300px;
    position: relative;
}


.header-3 .child3 .carousel-cards .card .card-image img{
    width: 100%;
    height: 100%;
}

.header-3 .child3 .carousel-cards .card .card-image .sale{
    width: 51px;
    height: 24px;
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: rgb(230, 10, 10);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    border-radius: 5px;
    
}
.header-3 .child3 .carousel-cards .card .card-image .icon-group{
    width: 140px;
    height: 40px;
    top: 236px;
    left: 51px;
    gap: 10px;
    position: absolute;
    display: flex;
    align-items: center;

   
}
.header-3 .child3 .carousel-cards .card .card-image .icon-group .icon-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-3 .child3 .carousel-cards .card .card-info{
    width: 249px;
    height: 358px;
    padding: 25px;
    position: relative;
    gap: 10px;
}


.header-3 .child3 .carousel-cards .card .card-info h3{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;  
}


.header-3 .child3 .carousel-cards .card .card-info h2{
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
        
}


.header-3 .child3 .carousel-cards .card .card-info p{
     color: #737373;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     letter-spacing: 0.20000000298023224px;
     text-align: left;
     
}


.header-3 .child3 .carousel-cards .card .card-info .download{
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}
.header-3 .child3 .carousel-cards .card .card-info .grey{
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    
}
.header-3 .child3 .carousel-cards .card .card-info .green{
    color: #40BB15;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    
}

.header-3 .child3 .carousel-cards .card .card-info .diogram-group{
    width: 199px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.header-3 .child3 .carousel-cards .card .card-info .diogram-group span{
    gap: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

.header-3 .child3 .carousel-cards .card .card-info .diogram-group span .soat{
    color: #23A6F0;
}

.header-3 .child3 .carousel-cards .card .card-info .diogram-group span .graph{
    color: #E77C40;
}


.header-3 .child3 .carousel-cards .card .card-info button{
    width: 141px;
    height: 44px;
    padding: 10px 20px;
    border-radius: 37px;
    gap: 10px;
    border: 1px solid #23A6F0;
    color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    background: transparent;
}


.header-3 .child3 .carousel-cards .card .card-info .score{
    width: 50px;
    height: 26px;
    padding: 5px;
    gap: 5px;
    border-radius: 20px;
    background-color: #252B42;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
}

.header-3 .child3 .carousel-cards .card .card-info .score .star{
    color: #FFCE31;
}



.header-4{
    height: 989px;
    background: #FFDCD1;
}

.header-4 .child4{
    height: 989px;
}

.header-4 .child4 .title-desk{
    width: 100%;
    height: 134px;
    margin-top: 140px;
    position: relative;
}


.header-4 .child4 .title-desk h3{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}


.header-4 .child4 .title-desk h2{
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}


.header-4 .child4 .title-desk p{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}

.header-4 .child4  .card-desk{
    width: 100%;
    height: 378px;
    gap: 30px;
    margin-top: 140px;
    display: flex;
}


.header-4 .child4  .card-desk .circle-card{
    width: 508px;
    height: 378px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #fff;
}


.header-4 .child4  .card-desk .circle-card img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}


.header-4 .child4  .card-desk .circle-card p{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

    
}

.header-4 .child4  .card-desk .circle-card .rate{
    width: 130px;
    height: 22px;
    gap: 5px;
    display: flex;
    justify-content: center;

}


.header-4 .child4  .card-desk .circle-card .rate svg{
    color: #F3CD03;
}

.header-4 .child4  .card-desk .circle-card h2{
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    
}


.c1-1-lyout-1{
    width: 1440px;
    height: 594px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1-1-lyout-1 .container-1-l-1 {
    width: 1050px;
    height: 897px;
    padding: 160px 0px;
    gap: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c1-1-lyout-1 .container-1-l-1 .row1-1-l-1{
    width: 692px;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.c1-1-lyout-1 .container-1-l-1 .row1-1-l-1 .main-content-1-l-1{
    width: 692px;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
.c1-1-lyout-1 .container-1-l-1 .row1-1-l-1 .main-content-1-l-1 h6{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #23A6F0;
}
.c1-1-lyout-1 .container-1-l-1 .row1-1-l-1 .main-content-1-l-1 h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #252B42;
    margin-top: -30px;
}
.c1-1-lyout-1 .container-1-l-1 .row1-1-l-1 .main-content-1-l-1 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;
    margin-top: -30px;
}
.c1-1-lyout-1 .container-1-l-1 .row2-1-l-1{
    width: 690px;
    height: 58px;
    display: flex;
    align-items: center;
    
}
.c1-1-lyout-1 .container-1-l-1 .row2-1-l-1 .input-group-append{
    display: flex;
}
.c1-1-lyout-1 .container-1-l-1 .row2-1-l-1 input{
    width: 570px;
    height: 58px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #E6E6E6;
    padding-left: 20px;
}
.c1-1-lyout-1 .container-1-l-1 .row2-1-l-1 button{
    width: 118px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
    background: #23A6F0;

    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color:  #ffffff;
}



/* footer */


footer{
    width: 1440px;
    height: 414px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
   
}
footer .footer-info{
    width: 1440px;
    height: 338px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-info .footer-container{
    width: 1050px;
    height: 338px;
    padding:  80px 0px ;
    gap: 80px;
    display: flex;
    align-items: center;
}
footer .footer-info .footer-container .foo-col-md-1{
    width: 258px;
    height: 178px;
    gap: 25px;
    margin-top: 0px;
}
footer .footer-info .footer-container .foo-col-md-1 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}
footer .footer-info .footer-container .foo-col-md-1 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}
footer .footer-info .footer-container .foo-col-md-1 .foo-social-media{
    width: 112px;
    height: 24px;
    gap: 20px;
    display: flex;
}
footer .footer-info .footer-container .foo-col-md-2{
    width: 241px;
    height: 178px;
    gap: 20px;
} 
footer .footer-info .footer-container .foo-col-md-2 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}
footer .footer-info .footer-container .foo-col-md-2 .links{
    gap: 10px;
}
footer .footer-info .footer-container .foo-col-md-2 .links a{
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}
footer .footer-by{
    width: 1440px;
    height: 76px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-by p{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}
